.ban{
    background-image: url("../img/banner.jpg");
    height: 250px;
    background-position: center;
    background-size: cover;
}
.logo{
    width: 150px;
}
.nav-link{
    color: white !important;
    font-size: 17px;
}
.int{
    width: 500px;
    height: 50px;
    background-color: white !important;
}
.inbtn{
    background-color: #1D57DD;
    padding: 10px 30px;
    color: white!important;
    font-size: 20px;
    position: absolute;
    margin-top: -50px;

}
@media screen and (max-width: 576px){
    .uzb{
        display: block !important;
        margin: auto;
    }
    .int, .inbtn, .misol,.uz, .ru,.en{
        display: none;
    }
    .logo{
        margin-left: 50px;
    }
}
.uz{
    color: #002041!important;
    border-radius: 3px;
}
.inbtn:hover{
    background-color: #002041;
    transition: 0.4s all ease-out;
}
.ad{
    color: grey;
    position: relative;
}
.ad:before{
    content: "";
    width: 6%;
    border-bottom: 6px solid #1D57DD;
    border-radius: 10px;
    position: absolute;
    top:150%;
    left: 47%;
    z-index: 1;
}
.card-img-overlay{
    width: 87% !important;
    height: 100px;
   margin-top: 205px;
    margin-left: 15px;
   color: white;
    text-align: center;
    background: linear-gradient(150deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.kitob .card:hover{
    transform: translateY(-10px);
    transition: 0.4s all linear;
    box-shadow: 2px 3px 8px grey;
}
.tavs{
    margin: auto;
    padding: 10px 50px;
    background-color:#1D57DD ;
    color: white;
    font-size: 20px;
}
.tavs:hover{
    text-decoration: none;
    color: #1D57DD;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    transition: 0.4s all linear;
}
.yangi{
    background-color: #f1f1f1;
}
.opit{
    height: 350px;
    width: 300px;
}
.qr{
    justify-content: center;

}
.qr img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
}
.about{
    background-color: #f1f1f1;
}
.about .card:hover{
    box-shadow: 2px 2px 14px grey;
    transition: 0.2s all ease-out;
}
.about img{
    width: 37%;
    height: 300px;
    margin-left: 8%;
    margin-top: -30px;
}
.fa-star:last-child{
    color: lightgrey !important;
}
.about .ctxt{
    width: 200px;
}
.footer  {
    color: white;

}
.footer h5{
    font-size: 18px;
    display: bl;
}
.footer h6{
    font-size: 16px;
}
@media screen and (max-width: 576px) {
    .ad{
        margin-left: 30px;
    }
    .kitob .card{
        margin-left: 60px;
        margin-top: 10px;
        width: 400px;
    }
    .kitob .card-img-overlay{
        margin-top: 120%;
    }
    .tavs{
        margin-left: 80px;
    }
    .qr .card img{
        margin: 0 auto!important;
    }
    .about .card{
        width: 450px;
        font-size: 16px;
        display: inline-block;
        margin: 0 auto;
    }
    .about .card img{
        width: 120px;
        height: 150px;
    }

    .sec{
        margin: 0!important;
    }
    .soc{
        text-align: center;
    }
}